

body{
	background-color: #C36348;
	font-family: 'Roboto', sans-serif;
}

/*grid layout*/
.grid_total{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

/* column 1:image,description and follow button */
.col1{
	background-color: #FFEBE9;
	border-radius: 26px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left: 20px;
	margin-top: 0px;
	height: 565px;
	

}

/*centering image*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
	margin-top: 20px;
	border-radius: 50%;
	border-color: #C36348;
	border:6px solid #C36348;
}


h1 {
	font-size: 65px;
	font-weight: 700;
	text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #C36348;
	text-align: center;
	margin-top: 8px;

}

.description{
	color:#B5726E;
	font-weight: 100;
	font-size: 20px;
	text-align: center;


}

.button{
	text-decoration:none;
	background-color: #C36348;
	color: #FFEBE9; 
	font-size: 26px;
	padding: 10px 15px 10px 15px;
	border-radius: 20px;
	text-shadow: 2 px 2px 2px grey;
	margin-left: 40%;
	margin-right: 40%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);


}
.button:hover{
	background-color:#48c3b5;
}

/* column 2:box1,box2,box3 */
.col2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  grid-template-areas:
    "box1"
    "box2"
    "box3";
}
.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }



/* box1:skills */
.box1{
	background-color: #FFEBE9;
	color: #B5726E;
	border-radius: 26px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-right: 20px;
	margin-top: 0px;
	height: 175px;
	
}

h2{
	font-weight:700;
	font-size: 24px;
	text-align: center;


}
ul{
	font-weight: 300;
	font-size: 20px;
}

/* box2:social media icons */
.box2{
	background-color: #FFEBE9;
	border-radius: 26px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	margin-right: 20px;
	height: 175px;

}


.social_icons:hover{
	color:#48c3b5;
}

.social_icons{
	color: #C36348; 
	font-size: 75px;
	background-color: #FFEBE9;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);	
	padding-top: 45px;
	padding-right: 15px;
	padding-left: 15px;
}

/* box3:image attribution */
.box3{
	background-color: #FFEBE9;
	border-radius: 26px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-right: 20px;
	height: 175px;
}

.attribution{
	vertical-align: middle;
	font-size: 20px;
	font-weight: 100;
	color: #B5726E;
	padding-top: 45px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	

}

